@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    overflow-x: hidden;
    /* font-family: "Dancing Script", serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

img {
    user-drag: none; /* For Safari */
    user-select: none; /* Prevent text/image selection */
    -moz-user-select: none; /* For Firefox */
    -webkit-user-drag: none; /* For Chrome and other WebKit browsers */
    -webkit-user-select: none; /* For Chrome and other WebKit browsers */
  }

  .philosopher-regular {
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .philosopher-bold {
    font-family: "Philosopher", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .philosopher-regular-italic {
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .philosopher-bold-italic {
    font-family: "Philosopher", serif;
    font-weight: 700;
    font-style: italic;
  }
  